/* TABLET VIEW */
@media only screen and (max-width:768px) {

.menu {
    display: block;
}

.nav-button {
    display: none;
}

.skills {
    justify-content: center;   
}

.mw-flex-container {
    justify-content: center;
}

}

/* MOBILE VIEW */
@media only screen and (max-width: 390px) {
    .menu {
        display: block;
    }
    
    .nav-button {
        display: none;
    }

    .skills {
        justify-content: center; 
    }

    .mw-flex-container {
        justify-content: center;
    }
  
}


